<div class="form-container">
<h1>User Details</h1>

<p><strong>First Name:</strong> <%= @user.first_name %></p>
<p><strong>Last Name:</strong> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Phone Number:</strong> <%= @user.phone_number %></p>
<p><strong>Birthday:</strong> <%= @user.birthday %></p>
<p><strong>Gender:</strong> <%= @user.gender %></p>
<p><strong>Subject:</strong> <%= @user.subject %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>